html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    width: 700px;
    height: 400px;
    grid-template-columns: auto auto;
    grid-template-rows: auto 200px auto;
    row-gap: 20px;
    column-gap: 20px;
}

div {
    background-color: #daa520;
}
